@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.cdnfonts.com/css/schabo");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* expanding button menu */
.menu-toggle {
  position: fixed;
  top: 2em;
  right: 2em;
  width: 120px;
  height: 60px;
  background-color: black;
  border-radius: 8em;
  transition: width 0.5s cubic-bezier(0.075, 0.82, 0.162, 1);
  transform-origin: center;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle.opened {
  width: 60px;
}

.menu-copy {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  color: #fff;
  transition: left 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 1;
  font-family: "Bebas Neue", sans-serif;
}

.menu-copy p {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

.menu-toggle:hover .menu-copy {
  left: 20px;
  transition: left 0.5s ease; /* Add transition for a slower effect */
}

.menu-toggle.opened .menu-copy {
  opacity: 0;
}

.menu-toggle-icon {
  position: absolute;
  right: 0;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  clip-path: circle(10% at 50% 50%);
  background-color: burlywood;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 10;
  overflow: hidden;
}

.menu-toggle:hover .menu-toggle-icon {
  clip-path: circle(35% at 50% 50%);
}

.menu-toggle.opened .menu-toggle-icon {
  clip-path: circle(50% at 50% 50%);
  transform: scale(1.125);
}

.hamburger {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  opacity: 0;
  transform-origin: center; /* Transform from the center of the bar */
}

.menu-toggle:hover .hamburger,
.menu-toggle.opened .hamburger {
  top: 50%;
  opacity: 1;
}

.menu-bar {
  position: absolute;
  width: 15px;
  height: 1.5px;
  background-color: #000;
  transition-property: transform;
  transition: all 250ms ease-out;
  transform-origin: center; /* Ensure transformation happens from the center */
}

.menu-bar[data-position="bottom"] {
  transform: translateY(3px);
}
.menu-bar[data-position="top"] {
  transform: translateY(-3px);
}
.menu-toggle.opened .menu-bar[data-position="top"] {
  transform: translateY(0) rotate(45deg) scaleX(1.05);
}

.menu-toggle.opened .menu-bar[data-position="bottom"] {
  transform: translateY(0) rotate(-45deg) scaleX(1.05);
}

/* menu  */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: rgb(14, 14, 14);
  pointer-events: none;
  transform-style: preserve-3d;
  perspective: 1000px;
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}
.logo-text {
  color: white;
}
.logo,
.menu-logo {
  position: absolute;
  top: 10px;
  left: 20px;
  letter-spacing: -3px;
  font-size: 4rem;
  color: white;
}

.logo a,
.menu-logo a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: lighter;
}

.logo a {
  color: white;
}

.menu-logo {
  color: #fff;
  font-family: "Bebas Neue";
}

/* col 1 */
.col-1 {
  flex: 1;
}

.col-2 {
  flex: 2;
}

.col {
  display: flex;
  flex-direction: column;  /* Stack columns vertically */
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  padding: 7em 1em 2em 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.links {
  display: flex;
  margin-left: 10px;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Poppins";
  transform: translateY(30px);
  opacity: 0;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 1.9rem;
  line-height: 200%;
  font-weight: 400;
}

.video-wrapper {
  width: 100%;
  aspect-ratio: 16/9;
  background-color: black;
  overflow: hidden;
  padding: 2em;
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}

.video-wrapper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* col 2 */


.socials {
  width: 50%;
  display: flex;
  gap: 2em;
}

.socials .sub-col  p {
  position: relative;
  color: #fff;
  transform: translateY(30px);
  opacity: 0;
  text-transform: uppercase;
  font-family: "Ubuntu Mono";
  font-size: 15px;
  font-weight: 400;
}

.header {
  color: #fff;
  text-transform: uppercase;
  font-family: "Schabo";
  font-size: 350px;
  line-height: 100%;
  height: 300px;
  letter-spacing: -6px;
  font-weight: lighter;
  position: relative;
  display: inline-block;
  transform: scale(0.75) translateY(500px) rotateY(90deg);
  transform-origin: bottom;
  transform: translateY(-100px); /* Start off-screen */
  opacity: 0; /* Optional: If you're fading it in */
}
.sub-2 {
  align-items: flex-end;            /* Align the second sub-column's content to the right */
}
@media (max-width: 576px) {
  .menu-logo a {
    margin-top: 17px;
    letter-spacing: -3px;
    font-size: 3rem;
    color: white;
  }
  .desktop-logo {
    font-size: 1px;
  }
  .link {
    font-size: 2.3rem;
    line-height: 150%;
  }
  .menu-toggle {
    margin-right: -20px;
  }

  /* Stack columns vertically on small screens */
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .col {
    display: block;
    flex-direction: column;      /* Stack vertically */
    justify-content: center;     /* Adjust alignment */
    align-items: flex-start;   
    margin-bottom: -50px;
  }

  .col-1, .col-2 {
    width: 100%;             /* Make each column take full width */
  }
  .header {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
    text-transform: uppercase;
    font-family: "Schabo";
    font-size: 170px;
    line-height: 100%;
    height: 300px;
    letter-spacing: -6px;
    font-weight: lighter;
    position: none;
    display: flex;
    justify-content: center;
    transform: scale(0.75) translateY(500px) rotateY(90deg);
    transform-origin: bottom;
    transform: translateY(-100px); /* Start off-screen */
    opacity: 0; /* Optional: If you're fading it in */
  }
  /* Hide video on small screens */
  .video-wrapper {
    display: none;
  }
  .socials {
    display: flex;
    gap: 2em;                        /* Optional: add space between sub-cols */
    width: 100%;
    justify-content: space-around;
    margin-bottom:70px;
  }
  .sub-2 {
    align-items: flex-end;  
    justify-content: end;   
  }
}
/* Small devices (tablets in portrait mode) */
@media (min-width: 577px) and (max-width: 768px) {
    .menu-logo a {
      margin-top: 17px;
      letter-spacing: -3px;
      font-size: 3rem;
      color: white;
    }
    .desktop-logo {
      font-size: 1px;
    }
    .link {
      font-size: 2.3rem;
      line-height: 150%;
    }
    .menu-toggle {
      margin-right: -20px;
    }
  
    /* Stack columns vertically on small screens */
    .menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    .col {
      display: block;
      flex-direction: column;      /* Stack vertically */
      justify-content: center;     /* Adjust alignment */
      align-items: flex-start;   
      margin-bottom: -50px;
    }
  
    .col-1, .col-2 {
      width: 100%;             /* Make each column take full width */
    }
    .header {
      margin-top: 20px;
      margin-bottom: 20px;
      color: #fff;
      text-transform: uppercase;
      font-family: "Schabo";
      font-size: 170px;
      line-height: 100%;
      height: 300px;
      letter-spacing: -6px;
      font-weight: lighter;
      position: none;
      display: flex;
      justify-content: center;
      transform: scale(0.75) translateY(500px) rotateY(90deg);
      transform-origin: bottom;
      transform: translateY(-100px); /* Start off-screen */
      opacity: 0; /* Optional: If you're fading it in */
    }
    /* Hide video on small screens */
    .video-wrapper {
      display: none;
    }
    .socials {
      display: flex;
      gap: 2em;                        /* Optional: add space between sub-cols */
      width: 100%;
      justify-content: space-around;
      margin-bottom:70px;
    }
    .sub-2 {
      align-items: flex-end;  
      justify-content: end;   
    }
}

/* Medium devices (tablets in landscape mode, small laptops) */
@media (min-width: 769px) and (max-width: 992px) {
  /* Styles for tablets and small laptops */
}

/* Large devices (laptops, desktops) */
@media (min-width: 993px) and (max-width: 1200px) {
  /* Styles for laptops and desktops */
}

/* Extra large devices (large desktops, TVs) */
@media (min-width: 1201px) {
  
}